#content {
  margin-left: auto;
  margin-right: auto;
  width: 750px;
}

#greeting-container {
  margin-top: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    font-family: "Gill Sans", sans-serif;
    color: rgb(21, 108, 214);
  }

h4 {
    text-align: center;
    font-family: "Gill Sans", sans-serif;
    color: #3390FF;
  }

body {
    font-family: "Gill Sans", sans-serif;
    background-color: rgb(231, 239, 253);
    line-height: 1.4;
}